ul.table-view {
    background-color: inherit;
    background-image: url()
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

.table-view .table-view-cell {
    background-color: #FFF;
    margin-top: 10px;
    padding-right: 10px
}


.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bar a {
    color: #555
}

body .table-view .table-view-cell {
    background-image: none;
    margin: 10px 6px;
    box-shadow: 0 0 1px 1px #eee;
    box-shadow: none;
    border: 1px solid #eee
}

header.bar .title {
    color: #fff
}

body {
    font-family: open-sans, Optima,"Helvetica Neue",Helvetica,sans-serif;
}

.head-color {
    color: #39CCCC
}

.h5,h5 {
    margin-top: 10px!important
}

.btn-back.btn-back.btn-back {
    color: #fff
}

.fa {
    width: 25px;
    min-height: 25px;
    color: #555;
    text-align: center
}