.s {
	  overflow: hidden;
	  line-height: 1.2em;
	  padding: 10px;
	  margin: 10px;
 }

.text-inside-image {
	padding: 5px;
	float: left;
}


.item-item-cont h2 {
	margin: 5px 6px;
}

#taskbar {
 	height: 30px;
 	width: 100%;
	z-index: 2;
	visibility: hidden;
	position: absolute;
}

#article-container .title {
	white-space: nowrap;
	margin: 3px;
}

.newsSnippet {
	border-bottom: 1px solid #CCCCCC;
	float: left;
	width:94%;
 	margin-bottom: 5px;
	margin-left: 5px;
	overflow: hidden;
	padding: 2px 2%;
}
 

.newsSnippet p,.newsSnippet h2 {
	margin: 0;
}

.newsSnippet h2 {
	font-size: 1.1em;
}

.brief-body {
	font-size: 1em;
}

.newsSnippet .brief-image {
	float: left;
	margin-right: 13px;
}

.newsSnippet .brief-image img {
	max-height: 50px;
	max-width: 100px;
}

.item-item-cont {
	float: left;
	margin-right: 10px;
}

p {
	padding: 0;
	margin: 0;
}
.image-container {
	text-align: center;
	width: 490px;
	overflow: hidden;
}

.imageContainer {
	float: left;
	padding: 9px;
}

.right-float {
	float: right;
}

.setting-popup{
	position: absolute;
	bottom: 0;
	background-color: #eee;
	box-shadow:1px -1px 4px 1px #888;
	color: #000;
	width: 90%;
	padding: 5%;
	z-index: 2;
	left: 0;
	min-height: 100px;
	border-radius: 10px 10px 0 0;
}

.parent {
	float: left;
}

.view.settings {
  background-color: #424242;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.view.settings > *{
	padding: 10px;
}

.view.settings .demoRedraw div {
	padding: 10px;
	line-height: 1.2em;
	text-align: center;
	box-shadow: 0px 0px 1px 1px #ccc;
}

.settings-selection{
	display: table;
	width: 100%;
}

.settings-selection a{
	display: table-cell;
	padding: 10px;
}

.settings-selection a div{
	box-shadow: 0px 0px 1px 1px #ccc;
  	line-height: 45px;
  	text-align: center;
	background-color: #F4F4F4;
	border-radius: 3px;
	position: relative;
}

.settings-selection .selected::after, .table-view-cell.selected:before {
	content: "";
	border-radius: 50%;
	border: 1px solid #ccc;
	height: 5px;
	display: block;
	width: 5px;
	margin-left: 45%;
	position: absolute;
	margin-top: 4px;
	background-color: red;
}

.table-view-cell.selected:before {
	margin-top: 0;
	margin-top: 5px;
  	margin-left: -11px;
}

.view.settings .close {
  width: 34px;
  line-height: 31px;
  text-align: center;
  padding: 0;
  position: absolute;
  background-color: rgb(210, 142, 142);
  right: 0;
  top: -30px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

#goto {
	position: fixed;
	width: 100%;
	padding: 20px 10px;
	background-color: #fff;
	margin-top: 0;
	text-align: center;
	box-shadow: 0 0 2px 2px #ccc;

}

#sectionlist{
	background-color: transparent;
}

#sectionlist > *, #historyList > *{
	width: 350px;
	max-width: 100%;
	background-color: #424242;
	position: absolute;
	color:white;
	right:0;
}

#sectionlist .head, #historyList .head {
	top:0;
}

.btn.large {
  padding: 10px 24px;
  font-size: 1.2em;
  font-weight: 200;
}
#sectionlist .head, #sectionlist .foot, #historyList .head, #historyList .foot {
	height: 50px;
	text-align: center;
	line-height: 50px;
	z-index: 1
}

#sectionlist .list, #historyList .list {
	padding-top: 50px;
	padding-bottom: 50px;
	height: 100%;
	overflow: auto;
}
 #sectionlist ul, #sectionlist li, #historyList ul, #historyList li{
 	background-color: #424242;
 	color: white;
 }

#sectionlist .foot, #historyList .foot {
	bottom: 0;
}

.demo-container {
	height: 100px;
	border-radius: 8px;
	overflow: hidden;
	border: 2px inset #ccc;
}

.search-cont {
	padding: 10px;
	padding-bottom: 0;
	position: relative;
}

.search-cont i{
	position: absolute;
	top: 1.2em;
	left: 1em;
}

.search-cont input {
	padding-left: 2em;
}


aul.table-view {
    background-color: inherit;
    background-image: url()
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

.table-view .table-view-cell {
    background-color: #FFF;
    margin-top: 10px;
    padding-right: 10px
}


.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bar a {
    color: #555
}

body .table-view .table-view-cell {
    background-image: none;
    margin: 10px 6px;
    box-shadow: 0 0 1px 1px #eee;
    box-shadow: none;
    border: 1px solid #eee
}

header.bar .title {
    color: #fff
}

body {
    font-family: open-sans, Optima,"Helvetica Neue",Helvetica,sans-serif;
}

.head-color {
    color: #39CCCC
}

.h5,h5 {
    margin-top: 10px!important
}

.btn-back.btn-back.btn-back {
    color: #fff
}

.fa {
    width: 25px;
    min-height: 25px;
    color: #555;
    text-align: center
}

body .table-view .table-view-cell {
  background-image: none;
  margin: 2px 0px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #aaa;
}

h6 {
	font-size: 1em;
}
h5 {
	font-size: 1.1em;
}
h4 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.4em;
}
h1 {
	font-size: 1.5em;
}
h6, h5, h4, h3, h2, h1 {
	color: inherit;
}

.history, .type-instruction, .article-of-date {
	text-align: center;
	line-height: 44px;
	box-shadow: 0px 0px 4px 1px #ccc;
	margin: 10px;
	background-color: white;
}

.history, .article-of-date {
	float: left;
	padding: 0 20px;
}

.type-instruction {
	height: 100px;
	margin-top: 1px;
	box-shadow: none;
	border: none;
}
